//VARIABLES

:root {
  --white: #ffffff;
  --black: #000000;
  --grayFive: #E0E0E0;
  --grayFour: #BDBDBD;
  --accentBlueColor: #4A56E2;
  --accentGreenColor: #24CCA7;
  --accentRoseColor: #FF6596;
  --buttonGreenShadow:  0px 6px 15px rgba(36, 204, 167, 0.5);
  --buttonRoseShadow:0px 6px 15px rgba(255, 101, 150, 0.5);
--selectShadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  --mainFont: 'Poppins', sans-serif;
  --additionalFont: "Circe", sans-serif;
}
