.linkLogo{
    display: flex;
    align-items:center;

    color: var(--black);
}

.logoImg{
    margin-right: 15px;
    width: 30px;

    @media screen and (min-width: 768px) {
        margin-right: 20px;
        width: 40px;
    }
}

.logoText{
    font-family: var(--mainFont);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    vertical-align: middle;

    @media screen and (min-width: 768px) {
        font-size: 30px;
    }
        
}